.article-row{
  text-align: left;
  margin: 1rem
}
.your-articles-container{
  display: grid
}
.article-card-your{
  display:flex;
  gap:1rem;
}

.article-card-missed{
  display:flex;
  gap:1rem;
}

.article-text{

}
.article-image{
  max-width: 15rem;
  height: 100%;
}
.article-body{
  text-align: left;
}
.article-details{
  display: flex;
  gap: 1rem;
  align-items: center
}
.article-body > p{
  color:#7c7c7c;
  font-size: 12px
}


.author-image{
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}


.detail-info{
  text-align: left;
}
.date-minute-container{
  display: flex;
  gap: 0.3rem;
}
.date-minute-container > p {
  color:#7c7c7c
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
